@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    --p: 355 91% 45%;
    --pf: 355 91% 38%;
    --pc: 0 0% 100%;
  }
}

/* Definisi kustom untuk logistik-theme */
[data-theme="logistik-theme"] {
  --color-primary: #E30613;
  --color-primary-focus: #C20510;
  --color-primary-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #F3F4F6;
  --color-secondary: #1A1A1A;
  --color-accent: #D29F68;
}
